# GEMINI API KEY
GEMINI_API_KEY=<GEMINI API KEY>

# QDRANT Configuration
QDRANT_HOST=qdrant

# Postgres Configuration (DataOps Session Store)
POSTGRES_DB=dataops_checkpoints
POSTGRES_USER=caedatallc_admin
POSTGRES_PASSWORD=SecretPassword2026
POSTGRES_HOST=postgres
POSTGRES_PORT=5432